a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

img { width: 100% }

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
  --main-bg-color: #fefefe;
  --second-bg-color: #282c34;
  --light-font: #ededed;
  --dark-font: #282c34;
  --main-highlight: #f53d14;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    letter-spacing: 0.06rem;
}

h1, h2, h3 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.4rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

a {
  color: var(--dark-font);
  text-decoration: none;
  font-weight: bold;
}

a:hover,
a:focus {
  color: var(--main-highlight);
}

.flexContainer {
  display: flex;
}

.App {
  text-align: center;
  background-color: var(--main-bg-color);
  min-height: 100vh;
  color: var(--light-font);
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  background-color: var(--main-highlight);
  border: 1px solid var(--main-highlight);
  padding: 1rem 3rem;
  color: var(--light-font);
  border-radius: 5px;
}

.ButtonReset {
  background-color: transparent;
  border: none;
  padding: 0;
  font-weight: bold;
  margin: 0 1rem;
}

.ButtonReset:hover,
.ButtonReset:focus {
  color: var(--main-highlight);
}

/* Header section ------- */

.Header {
  padding: 1vmin;
  background-color: var(--second-bg-color);
  border-bottom: 2px solid black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
}

.Header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.Header button {
  color: var(--light-font);
  margin: 0;
}

.Header button:hover,
.Header button:focus {
  color: var(--main-highlight);
}

.SavedCounter {
  padding: 0.1rem 0.3rem;
  margin-left: 0.5rem;
  background-color: var(--main-highlight);
  color: white;
  border-radius: 5px;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 2rem;
  flex: 1 1 auto;
  margin-right: 0.5rem;
  width: auto;
}

.Header h2 {
  flex: 1 0 auto; 
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  font-family: 'Ubuntu Mono', monospace;
}

ul li {
  display: inline-block;
  list-style-type: none;
  padding: 1rem;
}

/* Hero Section -------- */

.Hero,
.About-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: var(--dark-font);
}

.Hero-image {
  flex: 1 1 auto;
  margin: 0 1rem 0 2rem;
}

.Hero-TextContainer {
  flex: 1 3 auto;
  margin: 0 2rem 0 1rem;
}

.Hero h1 {
  font-size: 2rem;
  line-height: 2.4rem;
}

.Hero-quote {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: bold;
}

.Hero .btn {
  margin-top: 1rem;
  transition: all 0.1s ease;
}

.Hero button:hover,
.Hero button:focus {
  background-color: var(--second-bg-color);
  color: var(--light-font);
}

/* ARTICLE Section -----------  */

.Articles {
  margin-top: 100px;
  background-color: transparent;
  color: var(--dark-font);
}

.Articles h2 {
  font-size: 2.2rem;
}

.Articles-Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0 1rem;
}

.Articles-Grid li {
  background-color: var(--light-font);
  border: 1px solid var(--light-font);
  border-radius: 5px;
  padding: 0;
}

.fullSizeLi {
  grid-column: 1 / span 2;
}

.Articles-Grid li p {
  padding: 0 1rem;
  line-height: 1.6rem;
}

.Articles-Grid li p:first-child {
  text-align: left;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.ArticlePiece-ButtonContainer {
  justify-content: space-between;
  align-items: center;
}

.ArticlePiece-ButtonContainer button {
  font-size: 0.9rem;
}

.ArticlePiece-TextContainer {
  padding: 1rem;
}

.Articles-TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.Articles-TopBar h2 {
  flex: 1 1 auto;
  text-align: left;
}

.Articles-TopBar form {
  flex: 1 1 auto;
  justify-content: flex-end;
}

.Articles-TopBar form input[type="text"] {
  width: 100%;
}

.Articles-ButtonContainer {
  margin: 2rem;
  display: flex;
  justify-content: flex-end;
}

input[type="text"] {
  border: none;
  padding: 1rem;
  background-color: var(--light-font);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 1.2rem;
}

input[type="text"]:focus {
  border: 2px solid var(--main-highlight);
}

button[type="submit"] {
  padding: 1rem;
  border: none;
  cursor: pointer;
  background-color: var(--second-bg-color);
  color: var(--light-font);
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  background-color: var(--main-highlight);
  color: var(--light-font);
}

/* // Saved Articles specific area */

.SavedArticles {
  position: relative;
}

.SavedArticles h2 {
  margin-bottom: 2rem;
}

.SavedArticles button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.6;
  background-color: var(--light-font);
  color: var(--dark-font);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  margin: 0.2rem 0.2rem;
}

.SavedArticles button:hover,
.SavedArticles button:focus {
  background-color: var(--main-highlight);
  color: var(--light-font);
  opacity: 0.9;
}

.About-Image {
  width: 50%;
}

.About-Container p {
  margin: 0.5rem 0;
}

.ErrorAdd {
  background-color: var(--main-highlight);
  color: var(--light-font);
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 100;
  padding: 1rem;
}

/* // Tablet */
@media (max-width: 768px) {
  .Hero {
    flex-direction: column;
    padding-top:110px;
  }

  .Hero-image {
    flex: none;
  }

  .Articles-Grid {
    grid-template-columns: 1fr;
  }

  .fullSizeLi {
    grid-column: 1 / span 1;
  }
}

/* // Large Phone */
@media (max-width: 550px) {
  .wrapper {
    width: 100%;
  }

  ul li {
    padding: 0.5rem;
  }

  .Hero {
    padding-top: 170px;
  }

  .About-Container {
    padding: 1rem;
  }
  
  .About-Image {
    padding-top: 10px;
  }

  .Articles-TopBar h2 {
    margin-bottom: 1rem;
  }

  .Articles-TopBar form {
    width: 100%;
  }

  .Articles-TopBar,
  .Articles-TopBar .flexContainer {
    flex-direction: column;
  }

  .Articles-ButtonContainer {
    justify-content: center;
  }

  .Header .wrapper {
    flex-direction: column;
  }
}

/* // Extra small screen adjustments */
@media (max-width: 400px) {
  .About-Image {
    padding-top: 180px;
  }
}