.visuallyHidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

.App {
  text-align: center;
  background-color: lightgrey;
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 5vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header {
  padding: 1vmin;
  background-color: #282c34;
  border-bottom: 2px solid black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
}

.Header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.2rem;
}

ul li {
  display: inline-block;
  list-style-type: none;
  padding: 1rem;
}

.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}



section.mainSection {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}


input[type="text"] {
  border: none;
  padding: 1rem;
}

input[type="submit"] {
  padding: 1rem;
  border: none;
  cursor: pointer;
}

.toDoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.toDoList li {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0.2rem auto;
  background-color: white;
  border: transparent;
  color: black;
}

.toDoList button {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

/* .App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* // Footer */

footer {
  background-color: #282c34;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 10;
  padding: 0.5rem;
}

.footerBtn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}